#include <winver.h>

#define LIBPE_VERSION "0.3.0"
#define LIBPE_VERNUM 0x0030
#define LIBPE_VER_MAJOR 0
#define LIBPE_VER_MINOR 3
#define LIBPE_VER_REVISION 0
#define LIBPE_VER_SUBREVISION 0

#ifdef GCC_WINDRES
VS_VERSION_INFO     VERSIONINFO
#else
VS_VERSION_INFO     VERSIONINFO MOVEABLE IMPURE LOADONCALL DISCARDABLE
#endif
  FILEVERSION       LIBPE_VER_MAJOR,LIBPE_VER_MINOR,LIBPE_VER_REVISION,0
  PRODUCTVERSION    LIBPE_VER_MAJOR,LIBPE_VER_MINOR,LIBPE_VER_REVISION,0
  FILEFLAGSMASK     VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS     1
#else
  FILEFLAGS     0
#endif
  FILEOS        VOS__WINDOWS32
  FILETYPE      VFT_DLL
  FILESUBTYPE       0   // not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    //language ID = U.S. English, char set = Windows, Multilingual
    BEGIN
      VALUE "FileDescription",  "pe format library\0"
      VALUE "FileVersion",  LIBPE_VERSION "\0"
      VALUE "InternalName", "pe.dll\0"
      VALUE "LegalCopyright",   "(C) 2012 Kim Zhang\0"
      VALUE "OriginalFilename", "pe.dll\0"
      VALUE "ProductName",  "pe\0"
      VALUE "ProductVersion",   LIBPE_VERSION "\0"
      VALUE "Comments",     ""
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
